class Solution(object):
    def candy(self, ratings):
        """
        :type ratings: List[int]
        :rtype: int
        """
        
        size = len(ratings)
        if size < 2:
            return size
    
        num = [1] * size  
    
        # Forward pass
        for i in range(1, size):
            if ratings[i] > ratings[i - 1]:
                num[i] = num[i - 1] + 1
    
        # Backward pass
        for i in range(size - 1, 0, -1):
            if ratings[i] < ratings[i - 1]:
                num[i - 1] = max(num[i - 1], num[i] + 1)
    
        # Sum up the candies
        return sum(num)
        
        
